CMakeCache.txt
CMakeFiles/
game
testing
Makefile
cmake_install.cmake
build
*.a
*.vcxproj
*.filters
*.cache
*.lastbuildstate
*.log
*.tlog
*.ilk
*.pdb
*.exe
*.obj
*.sdf
*.sln
*.suo
*.user
*.lib
*.opensdf
*.dll
